.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  > div {
    width: 100%;
  }
  .sender {
    max-width: 780px;
  }
}
